.Adp
{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 44px;
/* identical to box height */


color: #000000;
}
.Adpg
{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;

/* identical to box height */

color: #000000;
}
.adpgtxt{
    width: 250px;
    height: 30px;
    
background: #FFFFFF;
border: 1px solid #D0CDE1;
box-sizing: border-box;
border-radius: 10px;
   
}
.z{
 position: fixed;
    display: flex;
 
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    width:100%;
   height:100%;
   
    
    top: 0px;
    bottom: 0px;
}
.z1{
    /* padding: 20px; */
    padding:10px;
    background-color: #ffffff;
    border-radius :2 px ;
    display: inline-block;
    overflow-y: scroll;
    max-width: 500px;
   width:calc(100% - 20px);
    position: relative;
   justify-self: center;
}
#portal {
  position: fixed;
    z-index: 1000;
  }
  .ic1{
  
    width : 4%;
    height: 4%;
    margin-left: 1%;
    margin-right: 2%;
}
.add_dev_btn
{
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
justify-content: space-between;

}
.add_dev_btn1{
    margin-left: 40px;
    font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
background: #7C639F;
border-radius: 15px;
width: 200px;
height: 50px;
line-height: 33px;



color: #FFFFFF;
}
.add_dev_btn2{
    margin-right: 40px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    border-radius: 15px;
  
    width: 200px;
    height: 50px;
    line-height: 33px;
    
    
    
    color: red;
}
.portal
{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}